<h1>About Bloccit</h1>
<p>Created by: Me</p>
<hr>

  <p>A button using a custom class I created called social-btn</p>
  <%= link_to "Connect with me", "https://www.linkedin.com/in/danielschutte", class: "social-btn" =%>

  <p>Now a button using bootstrap</p>
  <%= link_to "Connect with me", "https://www.linkedin.com/in/danielschutte", class: "btn btn-primary" =%>
